// Screens
$xsmall: 320px;
$small: 544px;
$medium: 768px;
$large: 1024px;
$xlarge: 1440px;

// Colours

$base-white: #fff;
$base-grey-1: #eeeeee;
$base-grey-2: #dddddd;
$base-grey-3: #cccccc;
$base-grey-4: #bbbbbb;
$base-grey-5: #828282;
$base-grey-6: #333333;
$base-black: #000;

$brand-color-primary: #465741;
$brand-color-secondary: #e53d27;
$brand-color-tertiary: #ececec;

$primary-text-color: $base-black;
$secondary-text-color: $brand-color-secondary;
$tertiary-text-color: $base-grey-3;
$body-text-color: $base-grey-5;

// Fonts

$font-brand-primary: "Montserrat", Arial, Helvetica, sans-sefif !default;
$font-brand-secondary: "Merriweather", Times, serif !default;
