@import "./padding/padding.scss";
@import "./vr/vr.scss";
@import "./display/display.scss";
@import "./flex/flex.scss";

// flexbox utilities not covered by react-flexbox-grid
.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.column-reverse {
  display: flex;
  flex-direction: column-reverse;
}
