.u-vr--sm {
  width: 100%;
  display: block;
  margin-bottom: 0.3rem;
}
.u-vr--md {
  width: 100%;
  display: block;
  margin-bottom: 0.6rem;
}
.u-vr--lg {
  width: 100%;
  display: block;
  margin-bottom: 0.9rem;
}
.u-vr--xl {
  width: 100%;
  display: block;
  margin-bottom: 1.2rem;
}
.u-vr--gi {
  width: 100%;
  display: block;
  margin-bottom: 1.5rem;
}

.u-vr-top--sm {
  width: 100%;
  display: block;
  margin-top: 0.3rem;
}
.u-vr-top--md {
  width: 100%;
  display: block;
  margin-top: 0.6rem;
}
.u-vr-top--lg {
  width: 100%;
  display: block;
  margin-top: 0.9rem;
}
.u-vr-top--xl {
  width: 100%;
  display: block;
  margin-top: 1.2rem;
}
.u-vr-top--gi {
  width: 100%;
  display: block;
  margin-top: 1.5rem;
}
