.u-p-sm {
  padding: 0.25rem;
}
.u-p-md {
  padding: 0.5rem;
}
.u-p-lg {
  padding: 0.75rem;
}
.u-p-xl {
  padding: 1rem;
}
.u-p-gi {
  padding: 1.25rem;
}

.u-pb-sm {
  padding-bottom: 0.25rem;
}
.u-pb-md {
  padding-bottom: 0.5rem;
}
.u-pb-lg {
  padding-bottom: 0.75rem;
}
.u-pb-xl {
  padding-bottom: 1rem;
}
.u-pb-gi {
  padding-bottom: 1.25rem;
}

.u-pt-sm {
  padding-top: 0.25rem;
}
.u-pt-md {
  padding-top: 0.5rem;
}
.u-pt-lg {
  padding-top: 0.75rem;
}
.u-pt-xl {
  padding-top: 1rem;
}
.u-pt-gi {
  padding-top: 1.25rem;
}

.u-pr-sm {
  padding-right: 0.25rem;
}
.u-pr-md {
  padding-right: 0.5rem;
}
.u-pr-lg {
  padding-right: 0.75rem;
}
.u-pr-xl {
  padding-right: 1rem;
}
.u-pr-gi {
  padding-right: 1.25rem;
}

.u-pl-sm {
  padding-left: 0.25rem;
}
.u-pl-md {
  padding-left: 0.5rem;
}
.u-pl-lg {
  padding-left: 0.75rem;
}
.u-pl-xl {
  padding-left: 1rem;
}
.u-pl-gi {
  padding-left: 1.25rem;
}

.u-ph-sm {
  padding: 0 0.25rem;
}
.u-ph-md {
  padding: 0 0.5rem;
}
.u-ph-lg {
  padding: 0 0.75rem;
}
.u-ph-xl {
  padding: 0 1rem;
}
.u-ph-gi {
  padding: 0 1.25rem;
}

.u-pv-sm {
  padding: 0.25rem 0;
}
.u-pv-md {
  padding: 0.5rem 0;
}
.u-pv-lg {
  padding: 0.75rem 0;
}
.u-pv-xl {
  padding: 1rem 0;
}
.u-pv-gi {
  padding: 1.25rem 0;
}
