.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.flex-space-between {
    justify-content: space-between;
  }
  &.flex-align-center {
    align-items: center;
  }
}

.flex-1 {
  flex: 1;
}
