@import "./normalise/normalise.scss";
@import "./tools/tools.scss";
@import "./content/content.scss";
@import "./containers/container.scss";
@import "./layout/layout.scss";

@import "./theme.scss";

* {
  box-sizing: border-box;
}

html * {
  font-family: $font-brand-primary;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
