@import "./normalise/normalise.scss";
@import "./tools/tools.scss";
@import "./content/content.scss";
@import "./containers/container.scss";
@import "./layout/layout.scss";

@import "./theme.scss";

* {
  box-sizing: border-box;
}

html *:not(svg text) {
  font-family: $font-brand-primary;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

svg text {
  stroke: none;
}
